$white: #fff;
$light-gray: #d3d3d3;
$gray: #808080;
$white-mild: #ddddf7;
$purple: #a7bcff;
$purple-200: #8da4f1;
$purple-dark: #5d5b8d;
$purple-dark-200: #3e3c61;
$purple-dark-400: #2f2d52;

$placeholder: rgb(175, 175, 175);

$btn-primary: #7b96ec;
